/* Todos los elementos de página */
* {
    margin: 0;
    padding: 0;
}

/* Elementos con un ID "titulo" */
#titulo {
    font-family: sans-serif;
    color: #0971d1;
    margin-left: 7%;
} 

/* Elementos con un ID "subtitulo" */
#subtitulo {
    font-family: sans-serif;
    color: #0971d1;
    margin-left: 10%;
} 

#check{
    display: inline-block;
}

/* Elementos de la etiqueta <fieldset>*/
fieldset {
    border: 0;
}

/* Elemento de la etiqueta <body> */
body{
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: #2789e6;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

/* Elementos de la etiqueta <body>, <input>, <Select>, <textarea> e <button> */
input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #2789e6;
    border-radius: 5px;
}

/* Elementos de classe "grupo" y sus estados de pseudoclasses "before" y "after" */
.grupo:before, .grupo:after {
    display: table;
}

/* Elementos de classe "grupo" y su estado de pseudoclasse "after" */
.grupo:after {
    clear: both;
}

/* Elementos de classe "campo" */
.campo {
    margin-bottom: 1em;
}

/* Elementos de classe "campo" de la etiqueta <label> */
.campo label {
    margin-bottom: 0.2em;
    color: #2789e6;
    display: block;
}

/* Elementos de classe "campo" o "grupo" de la etiqueta <fieldset> */
fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

/* Elementos de classe "campo" de la etiqueta <input> con atributo text y email, de la etiqueta <select> y de la etiqueta <textarea>*/
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #2789e6;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

/* Elementos de classe "campo" de la etiqueta <select> y <option>*/
.campo select option {
    padding-right: 1em;
}

/* Elemento de classe "campo" con etiqueta <input>, <select> y <textarea> todas con estado de pseudoclasse "focus"*/
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
}

/* Elemento de classe "boton" */
.boton {
    font-size: 1.2em;
    background: #2789e6;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* Elemento de classe "boton" con o estado de pseudoclasse "hover" */
.boton:hover {
    background: #2b166b;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

/* Elementos de classe boton y de la etiqueta <select> */
.boton, select{
    cursor: pointer;
} 