* {
    font-family: 'Roboto Condensed', sans-serif; 
    margin: 10px;
    padding: 0;
}

header {
    text-align: center;
    margin: center;
    padding: auto;
    border: 1px solid #95a5a6;
    background: rgba(255, 234, 167,1.0);
}

nav {
    text-align: center;
    border: 1px solid #95a5a6;
    padding: 10px;
    background: rgba(178, 190, 195,1.0);

}

section {
    text-align: center;
    background:#5352ed;
    padding: 10px;
}

#articulo1 {
    border: 1px solid #95a5a6;
    padding: 10px;
    background: #81ecec;
}

#piepag {
    color: white;
    text-align: center;
    background: rgba(45, 52, 54,1.0);
    border: 1px solid #95a5a6;
    padding: 15px;
}

.coment {
    padding: 10px;
    text-align: right;
    font-style: italic;
}

h2 {
    font-size: medium;
}
section h1 {
    font-size: 25px;
}

#articulo2 {
    border: 1px solid #95a5a6;
    padding: 10px;
    margin-top: 7px;
    background: #81ecec;
}

time {
    font-style: italic;
}

img {
    margin-top: 10px;
    margin-left: 500px;
    width: 200px;
    height: 200px;
    
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}